body{
     h1{
         text-align: center;
        }
    }

.directors{
    text-align: center;
  }

div.product-image {
  text-align : center;
  height     : 100%;
}

div.product-image img {
  width       : 338px;
  height      : 440px;
}

.directors.product-image{
  width: 400px;
  height: 400px;
}

div.card.mb-4{
  margin-top: 15px;
}

body{
.badge{
  background-color: $badge-color;
}}

h3{color: $h3-color;}

.button{
  .btn-primary{
  text-align: center;
  position: relative;
  background-color: $button-color;

}}

.btn-primary{
  background-color: $button-color;
  border-color: $button-color;
}

ul{
  li{
    text-align: left;
  }
}

.row{
  .media{
    margin-top: 5px;
  }
}