.navbar{
    background-color: $nav-color;
    color: black;
    text-align: center;
    width: auto;
}

.navbar{
#toast
{
  height: 100px;
  float: right;
  margin-left: 140px;
}}

.navbar{
.form-inline{
color: $h3-color;
padding-right: 35px;
    text-align: center;
}}